<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Push Notification</h3>
            </div>
            <div class="panel-body">
            
            Select which push notification you want to receive from baapchef.
            
            <ul class="list-group">
              <li class="list-group-item">Takeout notification</li>
              <li class="list-group-item">Membership notification</li>
              <li class="list-group-item">Dish out notification</li>
            </ul>
             </div>
        </div>
    </div>
</div>