<div ng-controller="OrderCtrl">

	<div class="row">
	    <div class="col-md-12">
	        <div class="panel panel-success">
	            <div class="panel-heading clearfix">
	                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
	                    <span class="glyphicon glyphicon-th" id="popmenu"></span>&nbsp;Menu
	                </h3>
	                <div class="btn-group pull-right">
	                    <a class="btn btn-default btn-sm" href="#menu">Menu</a>
	                    <a class="btn btn-default btn-sm" href="#monitor">Monitor</a>
	                    <a class="btn btn-default btn-sm" href="#pinout">Exit</a>
	                </div>
	            </div>
	        </div>
	    </div>                   
	</div>

<div class="col-md-12" ng-repeat="order in orders">

     <div class="panel panel-default" ng-hide="order.rstate == 'Cancel'">
         <div class="panel-heading clearfix">
             <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                   &nbsp;Order {{order.id}}  {{order.cname}}
               </h3>
           </div>
           <div class="panel-body">
			
					
				<div class="col-md-8"> 
					<table>
			    		<tr>
	                   	     <td>{{order.ordertype}}</td>
	                   	     <td>{{order.orderdate}}</td>
	                   	     <td style="text-align: right">{{order.rstate}}</td>
	                   	</tr>
	                   	<tr ng-repeat="orderitem in order.orderitems">
	                   	     <td><img src="{{orderitem.image}}" style="width: 100px"/></td>
	                   	     <td>{{orderitem.name}}</td>
	                   	     <td style="text-align: right"> {{orderitem.qty}}</td>
	                   	     <td>{{orderitem.note}}</td>		                     		
	                   	</tr>
	              	</table>
              	</div>
              	
              	<div class="col-md-4" style="text-align: right">
              	
					<a class="btn btn-default btn" 
						style="padding: 30px" 
						ng-hide="order.rstate == 'Cancel'"
						ng-click="receiptOrder(order.id)">Receipt</a>
					<a class="btn btn-default btn" 
						style="padding: 30px" 
						ng-hide="order.rstate == 'Cancel'"
						ng-click="readyOrder(order.id)">Out</a>
					<a class="btn btn-default btn" 
						style="padding: 30px" 
						ng-hide="order.rstate == 'Cancel'"
						ng-click="cancelOrder(order.id)">Cancel</a>

               </div>  	
    	</div>
	</div>


</div>