<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
            
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" class="form-control" placeholder="John&#x20;Doe" value="">
				</div>
					
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" name="email" id="email" class="form-control" placeholder="sample&#x40;email.com" value="">
				</div>
				
				<div class="form-group">
					<label for="phone">Phone</label>
					<input type="text" name="phone" id="phone" class="form-control" placeholder="4085551212" value="">
				</div>
				
				<div class="form-group">
					<label for="level">Level</label>
					<select name="level" id="level" class="form-control">
						<option value="1">Silver</option>
						<option value="2">Gold</option>
						<option value="3">Dimond</option>
					</select>
				</div>
				
				<div class="form-group">
					<label for="status">Status</label>
					<select name="status" id="status" class="form-control">
						<option value="Y">Active</option>
						<option value="N">Disable</option>
					</select>
				</div>
				
				<div class="form-group">
					<input type="submit" name="submit" id="submitbutton" class="btn&#x20;btn-primary" value="Add">&nbsp;
					<button type="button" name="cancel" id="cancelbutton" class="btn&#x20;btn-default" value="">Cancel</button>
				</div>

            </div>
        </div>
    </div>
</div>